<style type="text/css">
	.content-control-project{
		margin: 0 auto;
		width: 90%;
	}
	.content-control-project img{
			width: 100%;
	}

	.content-control-project .image_control_project{

	}
	.content-control-project .title-content-control{
		margin-top: 30px;
		width: 100%;
		height: 50px;
		background-color: #1c3e6f;
		vertical-align: center;
		text-align: center;
	}
	.content-control-project .title-content-control p {
		padding: 13px;
		color: #FAFAFA;
		font-size: x-large;
	}
	.content-control-project{
		margin-top:  25px;
	}
	.content-control-project ul {
		padding-top: 30px;
	}
	.content_control_1{
		padding-bottom: 50px;

	}
	.content_control_1 img{
		float: right;
		width: 450px;
		height: 225px;
	}
	.content_footer_info{
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding-bottom: 50px;
	}
	.button_folleto{
		width: 560px;
		height: 40px;
		background-color: #1c3e6f;
		padding-top: 15px;
    padding-bottom: 20px;
    cursor: pointer;
    margin:  0 auto;

		border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
		-webkit-border-radius: 2px 2px 2px 2px;
	}
	.button_folleto span{
		text-decoration:  none;
		color: #FAFAFA;
	}
	.button_folleto a{
		text-decoration:  none;
		color: #FAFAFA;
		vertical-align: center;
		margin-top: 16px;
	}


	@media (max-width: 900px) {
		.content-control-project .title-content-control p{
		font-size: medium;
		}
		.content-control-project ul {
			display: block;
			width: 100%;
		}
		.content_control_1 img{
			float: none;
			width: 80%;
			height: 40%;
		}
		.button_folleto{
			width: 80%;
		}
		.content_footer_info iframe{
			width: 80%;
			height: 50%;
		}
	}
	@media (max-width: 500px) {
		.content-control-project .title-content-control p{
			font-size: small;
		}
		.content_control_1 img{
			 width: 100%;
			 height: 30%;
		 }
		.button_folleto{
			width: 100%;
		}
		.content_footer_info iframe{
			width: 100%;
			height: 60%;
		}
	}


</style>

<div class = "content-control-project">
	<div class = "image_control_project">
		<img src="../../../assets/images/image5.png">
	</div>

	<div class = "title-content-control">
		<p>CONTROL DE PROYECTOS DE INVERSION PUBLICA</p>
	</div>
	<div class  ="content-control-project">
		<p>
			Para lograr los resultados esperados de un proyecto es necesario minimizar los riesgos efectuando un seguimiento constante y actualizado de las obras durante su desarrollo.
			Construinnova S.R.L. cuenta con un sistema integral  de control de  proyectos de  inversión  publica  (CPIP), el cual esta  conformado por  dos  programas.
			El  CPIP  residente, es un software de  escritorio destinado para el uso de los Residentes de obras, que  permite:
		</p>
	<div class = "content_control_1">
		<img src="../../../assets/images/cpip1.png">
	<ul>
		<li>Valorizar  los avances  diarios de las partidas ejecutas (Modulo de  metrados).</li>
		<li>Controlar  los ingresos y salidas de  materiales   (Modulo Almacén)</li>
		<li>Valorizar el uso de  maquinaria  propia y alquilada (Modulo Maquinaria)</li>
		<li>Monitorear el  aspecto financiero  de la ejecución de obra (Modulo Manifiesto de Gastos)</li>
		<li>Controlar el personal que labora en obra (Modulo Personal).</li>
		<li>Seguimiento  de proyecto mediante fotografías (Modulo Archivo fotográfico).</li>
		<li>Generar  reportes de  avances físico y financieros. (Modulo reportes)</li>
		<li>Generar  un informe  mensual.</li>
	</ul>
	</div>

	<p>
	El CPIP supervisor, es software web destinado  para el  uso  de los Gerentes  de Infraestructura,  supervisores  de  obra  y otras  autoridades,  que permite:
	</p>
	<div class = "content_control_1">
		<img src="../../../assets/images/cpip2.png">
	<ul>
		<li>Acceder  a una ficha resumen del estado actual de  cada proyecto.</li>
		<li>Controlar  el avance  Físico  de las obras ejecutados por la entidad.</li>
		<li>Monitorear  el avance  financiero de cada obra.</li>
		<li>Realizar un comparativo del  avance físico y financiero.</li>
		<li>Monitorear los plazo  de ejecución de los proyectos.</li>
		<li>Comparar el avance  programada  y  avance ejecutado para tomar  las  medidas correctivas.</li>
		<li>Generar reportes  ejecutivos del estado de  cada proyecto.</li>

	</ul>
	</div>
	<p>Principales  ventajas del sistema  integral CPIP:</p>
	<div class = "content_control_1">
			<img src="../../../assets/images/cpip3.png">
		<ul>
			<li>Agiliza  el tiempo de entrega de  los informes  mensuales  de cada obra.</li>
			<li>Disminuye  los errores de los informes  mensuales  hasta en un 90%</li>
			<li>Crea un formato único  para  la presentación de  informes  mensuales  para todas las  obras de la entidad.</li>
			<li>Facilita  el proceso de liquidación de  las obras.</li>
			<li>Permite  organizar  toda la información de la ejecución de  una obra en un solo archivo.</li>
			<li>Portabilidad  de la información.</li>
			<li>Monitorizar al  estado de cada proyecto de manera instantánea, a través de una  laptop, tablet o celular.</li>
			<li>Herramienta  para  la toma de  decisiones tanto para  los residentes de obra, supervisores y gerentes.</li>
		</ul>
	</div>
	</div>

	<div class = " content_footer_info">
			<div class ="button_folleto">
				<span><a href="">Descargar folleto</a></span>
			</div>
	</div>
  <div style="margin:  0 auto; text-align: center" >
    <iframe width="50%" height="300px" src="https://www.youtube.com/embed/shbricH2sMM" frameborder="0" allowfullscreen></iframe>
  </div>


	<ul class="nav nav-tabs  content_main_menu">
		<li role="presentation"><a  (click)="showData(1)" > Caracteristicas </a> </li>
		<li role="presentation"><a  (click)="showData(2)" > Demostraciones </a> </li>
	</ul>

	<div class="style-1" class="content_tabs content_tab_main" *ngIf = "valueData===1" [class.showingData] = "valueData!==1">
		<div class="row col_video_description">
			<div class ="col-md-4 col_description_iframe">
				<div class = "row col-md-10">
					<p class = "col_description_title">CPIP, CONTROL DE PROYECTOS DE INVERSION PUBLICA </p>
					<p class = "col_description_description">
						CPIP es  un sistema integral  diseñado   con el  objetivo  de   ser  una  herramienta  de los ingenieros  residentes de obra  y supervisores  para que estos puedan  realizar la  administración, control y seguimiento   de la ejecución de obras  publicas.Esta conformado por  dos programas:
						El CPIP Residente, es un software destinado a los Residentes de  Obra, que  le permiten realizar la valorización de los metrados  ejecutados, el control de los movimientos diarios de  almacén, el  seguimiento al gasto financiero realizado, la valorización de  la  maquinaria  empleada, el control del  personal que  labora en  obra  y genera todos los reportes necesarios para un
						informe  mensual. Se puede utilizar  en una  obra que inicia o en obras  que  ya vienen ejecutandose
					</p>

				</div>
			</div>

			<div class="col-md-7 col_iframe " style="margin-top: 10px;">

				<iframe  width="100%" height="350" src="https://www.youtube.com/embed/shbricH2sMM" frameborder="0" allowfullscreen></iframe>

			</div>

		</div>
	</div>


	<div  class="style-1" class="content_tabs content_tab_main" *ngIf = "valueData===2" [class.showingData] = "valueData!==2">
		<div class="row col_video_description">
			<div class="col-md-6 col_iframe">
				<span><h4>Modulo reportes</h4></span>
				<iframe width="380" height="200" src="https://www.youtube.com/embed/EzkVLG7n99I" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 col_iframe">
				<span><h4>Modulo metrados</h4></span>
				<iframe width="380" height="200" src="https://www.youtube.com/embed/uN4OxS2zYgs" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="row col_video_description">
			<div class="col-md-6 col_iframe">
				<span><h4>Modulo Almacen</h4></span>
				<iframe width="380" height="200" src="https://www.youtube.com/embed/tAtkvIs7-Ag" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 col_iframe">
				<span><h4>Modulo Almacen 2</h4></span>
				<iframe width="380" height="200" src="https://www.youtube.com/embed/Vwp-0ATuJqE" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>

</div>

