
<div id = "headerContent">
   <!-- <div class="row">
        <div class ="socialButtons col-md-6">
            <a href="http://www.facebook.com/CPIP13"><i  class="fa fa-facebook-official fa-2x" aria-hidden="true"> </i></a>
            <a href="http://twitter.com/construinnova13"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
            <!--<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>-->
       <!--     <a href="http://www.youtube.com/channel/UCuquY3djKK46Enk6MNKIulw"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
        </div>

    </div>-->
	<div class="row socialIconsHeader" >

	  <div class="col-md-6 phone_source col-xs-12">

        <div class="col-md-6 number_one col-xs-12">
            <p><i class="fa fa-phone-square fa-1x " aria-hidden="true"></i>  (051)982 750 384 </p>
        </div>
        <div class="col-md-6 col-xs-12">
            <p class ="text-right number_two">
                <i class="fa fa-envelope-o fa-1x text-left " aria-hidden="true"></i>
                construinnovaperu@gmail.com
            </p>

        </div>

        <div class="row ident col-xs-12">
            <div class="col-md-8 source_data">
            <p class ="text-left"><i class="fa fa-map-marker fa-1x " aria-hidden="true"></i> Jr. Paucartambo N-14 Wanchaq - Cusco </p>
            </div>

        </div>


	  </div>
	  
	  <div class="col-md-6 text-right socialIconsHeaderTwo" >
		  	<div class = "buttons_header">
		  		<div class = "ButtonsAcces">
					<a href="http://cpipperu.com:3443/#/extras-login2">
					<p>
						ACCESO AL AREA CPIP
					</p>
					</a>
		  		</div>
	  		</div>
	  </div>

	</div>
</div>