<div class="row content_contact">
  <div class="col-md-6"> 

  </div>

  <div class="col-md-6 content_form">
    <div class="row">
      <div class="col-md-12 content_forms">
          <form class="form-vertical">
            <label for="inputName" class="col-sm-4 control-label">Nombre</label>
            <div class="form-group">
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputName" placeholder="Name">
              </div>
            </div>
          </form>

          <form class="form-vertical">
            <label for="inputEmail" class="col-sm-4 control-label">Correo Electrónico</label>
            <div class="form-group">
              <div class="col-sm-8">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
          </form>

          <form class="form-vertical">
            <label for="inputsubject" class="col-sm-4 control-label">Asunto</label>
            <div class="form-group">
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputsubject" placeholder="Asunto">
              </div>
            </div>
          </form>

          <form class="form-vertical">
          <label for="inputsubject" class="col-sm-4 control-label">Descripcion</label>
          <textarea class="form-control" rows="3"></textarea>
            &nbsp;
            &nbsp;      
          <div class="form-group ">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Enviar</button>
            </div>
          </div>

        </form>  
      </div>
      <div class="col-md-4">
        
      </div>
    </div>
  </div>
</div>
  &nbsp;
  &nbsp;
