<div class = "content_Service" >
<div class="image_services_view">
    <img src="../../../assets/images/image7.png">
</div>
<div class="title_services_services">
  <p>SERVICIOS</p>
</div>

<div class = "sub_content_Service" routerLink="/services/control-proyectos">
  <div>
  	<div class = "title_sub_content_service">
  		<p> CONTROL DE PROYECTOS DE INVERSION PUBLICA </p>
  	</div>
    <div class = "image_sub_content_service">
    	<img class = "imagesService" src="../../../assets/images/image5.png">
    </div>
    <div class="description_sub_content_service">
    	<p class ="servicesp">
    		Para lograr los resultados esperados de un proyecto es necesario minimizar los riesgos efectuando un seguimiento constante y actualizado de las obras durante su desarrollo.
        Construinnova S.R.L. cuenta con un sistema integral  de control de  proyectos de  inversión  publica  (CPIP), el cual esta  conformado por  dos  programas... <span> <a routerLink="/services/control-proyectos" class="read-more" > leer mas </a> </span>
    	</p>
    </div>
  </div>


</div>

<div class = "sub_content_Service" routerLink="/services/control-monitoreo-obras">
  <div>
    <div class = "title_sub_content_service" >
      <p> CONTROL Y MONITOREO DE OBRAS </p>
    </div>
    <div class = "image_sub_content_service">
      <img class = "imagesService" src="../../../assets/images/monitoreo_de_obra.png">
    </div>
    <div class="description_sub_content_service">
      <p class ="servicesp">
        Construinnova S.R.L.  cuenta con un  sistema  para  controlar  y monitorizar la  ejecución de proyectos  mediante  el empleo  de  teléfonos inteligentes y un sistema  web, todos ellos  integrados por un software especializado para registro de datos en tiempo real  dirigido a sistemas en línea que permiten... <span> <a routerLink="/services/control-monitoreo-obras" class="read-more" > leer mas </a> </span>
      </p>
    </div>
  </div>

</div>


<div class = "sub_content_Service" routerLink="/services/desarrollo-sistemas">
  <div>
    <div class = "title_sub_content_service" >
      <p> DESARROLLO DE TECNOLOGIAS Y SISTEMAS </p>
    </div>
    <div class = "image_sub_content_service">
      <img class = "imagesService" src="../../../assets/images/tecnology_service.png">
    </div>
    <div class="description_sub_content_service">
      <p class ="servicesp">
     CONSTRUINNOVA S.R.L. cuenta  con  profesionales altamente calificados en el desarrollo de aplicaciones para el control, registro, ejecución, seguimiento, administración y monitoreo de proyectos a través de tecnología web, las cuales se adaptan a los diferentes tipos de proyectos y a los requerimientos particulares de cada cliente.<span> <a routerLink="/services/desarrollo-sistemas" class="read-more"  > leer mas </a> </span>
      </p>
    </div>
  </div>
</div>


<div class = "sub_content_Service" routerLink="/services/desarrollo-medida">
  <div>
    <div class = "title_sub_content_service">
      <p> DESARROLLO Y EJECUCION DE PROYECTOS "A LA MEDIDA" </p>
    </div>
    <div class = "image_sub_content_service">
      <img class = "imagesService" src="../../../assets/images/sistemas_a_la_medida.png">
    </div>
    <div class="description_sub_content_service">
      <p class ="servicesp">
      Trabajamos según las necesidades del cliente, enfocándonos en facilitar la información para que pueda ser consultada en el momento preciso, proporcionando un conjunto de herramientas informáticas para registro y control de los trabajo realizados, presupuestos, avances físicos, financieros y en tiempo, inventario de materiales, etc.<span> <a routerLink="/services/desarrollo-medida" class="read-more" > leer mas </a> </span>

      </p>
    </div>
  </div>

</div>

<div>
