 <slider-component></slider-component>
 <div class="banner_body">
	 <div class="text_description">
		 <div class="title">
			 <p> CPIP </p>
		 </div>
		 <div class="description">
			 <p>
				 Descubre  todas  las  ventajas del CPIP, el software  para realizar el control y administración de  la
				 ejecución de obras  publicas. Con el CPIP, además  podrás  elaborar tus  informes  mensuales con todos
				 los  formatos  necesarios de  una manera  mas eficiente.
			 </p>
		 </div>
	 </div>
	 <div class="image">
		 <img src="../../../assets/images/imagePortada.png">
	 </div>

 </div>
 <div class="banner_features">
	<div class="row_features">
		<div class="feature">
            <div class="image">
                <img src="../../../assets/images/image_feature1.png">
            </div>

                <p class="title_feature"> OPTIMIZACION </p>
                <p class="description_feature">Disminuye el tiempo necesario para la elaboración
                    de un informe  mensual hasta en un 50% </p>

        </div>
		<div class="feature">
            <div class="image">
                <img src="../../../assets/images/image_feature2.png">
            </div>
            <p class="title_feature"> SOLIDEZ </p>
            <p class="description_feature">Brinda  mayor solidez  en la información presentada en los informes
                mensuales gracias al sistema de  control de errores</p>
		</div>
		<div class="feature">
            <div class="image">
                <img src="../../../assets/images/image_feature3.png">
            </div>
            <p class="title_feature"> SINCRONIZACION</p>
            <p class="description_feature">La información se sincronizara  al servidor, permitiendo acceder a la
                información desde  cualquier  otro dispositivo.</p>
		</div>
		<div class="feature">
            <div class="image">
                <img src="../../../assets/images/image_feature4.png">
            </div>
            <p class="title_feature"> ORGANIZACIÓN</p>
            <p class="description_feature">El usuario puede acceder a todos los informes  mensuales   elaborados durante
                la ejecución de la obra  mediante  un solo archivo.</p>
            <div class="button_more">
                <a routerLink="/services/control-proyectos"> Ver más </a>
            </div>
		</div>
	</div>
 </div>



  &nbsp;
  &nbsp;
  &nbsp;

















