<div class="content_about ">
	<div>
		<img src="../../../assets/images/QUIENES SOMOS.png">
	</div>

	<div class="content_secondary">
		<!-- Stack the columns on mobile by making one full-width and the other half-width -->
		<div id ="name_about">
			<p class="title_about"> QUIENES SOMOS </p>
		</div>

		<div class="text_about">
		  	<div class="descripton_content_about">
		  		<p class = "p1"><span>CONSTRUINNOVA</span>  es una empresa consultora en ingeniería civil y desarrollo de soluciones informáticas; especializados en la gestión, administración y control de proyectos que ayuda a organizaciones públicas y privadas a desarrollarse con satisfacción total.
Queremos ser parte de proyectos ambiciosos para los cuales buscamos soluciones inteligentes que permite  la toma de decisiones adecuadas para el desarrollo exitoso de los proyectos, permitiendo un significativo ahorro de tiempo y costos
Creemos en “pensar diferente” para encontrar soluciones sencillas a problemas complicados por medio del uso de alta tecnología.
		  		<br>

				<p>
					Visión:
				“Nuestra Visión es contribuir a la eficiencia de las entidades del estado y empresas, automatizando e integrando sus procesos”


				</p>
		  		 <br>
		  		<p>
		  		Misión:
En Construinnova trabajamos para desarrollar soluciones tecnológicas de la más alta calidad buscando la satisfacción de nuestros clientes y haciendo que sus empresas sean más eficientes, competitivas y rentables.

		  		</p>
		  	</div>
		  <div class ="image_content">
			<img src="../../../assets/images/construinnova.png">
		  </div>

		</div>
	</div>

</div>
