<footer class="footer_component_view">
<ul>
  <li>
    <h5>
      <i class="glyphicon glyphicon-home " aria-hidden="true"></i> 
      Jr. Paucartambo N-14 Wanchaq - Cusco
    </h5>    
  </li>
  <li>
     <h5>
      <i class="fa fa-phone-square fa-1x " aria-hidden="true"></i>
      (052)982 750 384 
    </h5>
 
  </li>
  <li>
    <h5>
      <i class="fa fa-envelope-o fa-1x text-left  " aria-hidden="true"></i>  construinnovaperu@gmail.com 
    </h5>          
    
  </li>
</ul>
    <div class="column2_footer_icons_social">
      <a href="http://www.facebook.com/CPIP13"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
    </div>

    <div class="column2_footer_icons_social">
    <a href="http://twitter.com/construinnova13"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
  </div>
  <!--<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>-->
  <div class="column2_footer_icons_social">
    <a href="http://www.youtube.com/channel/UCuquY3djKK46Enk6MNKIulw"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
  </div>
  
</footer>
  
  			
  